
# Python cache
__pycache__/

*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Project outputs / models
model_saved/
outputs/

# Data files - Z24 dataset and pickles
Data/Z24/
Data/Z24/__pycache__
# Editor
.vscode/
.DS_Store

Z24/